//// Variables //// 
/* Color cube */
$BlazeOrange: #FE6600;
$SugarCane: #FEFFFE;
$ButterflyBush: #554E9E;
$MineShaft: #262626;
$Cameo: #D7AC95;
$Crimson: #D71937;
$Sushi: #84B443;
$Limeade: #37AD02;
$SchoolbusYellow: #FCD900;
$CuriousBlade: #1AAFE4;

/* Median cut */
$BonJour: #E8E6E7;
$EastBay: #444275;
$Mojo: #C34938;
$Twine: #C29458;
$VidaLoca: #48BE27;

/* Material design */
$Victoria: #4C4A9B;
$Eunry: #CD9F90;
$Lima: #46BD23;
$Tautara: #242423;
$Cashmere: #E2BEA6;

/* Custom */
$MyGrey: rgb(160, 160, 160);
$LightGrey: rgb(200, 200, 200);
$LighterGrey: rgb(240, 240, 240);

/* Font */
@font-face {
    font-family: satisfactionFont;
    src: url(../assets/Satisfaction.ttf);
}
//// General //// 
html {
    font-size: 100%;
    color: $MineShaft;
    font-family: Arial, Helvetica, sans-serif;
    //background-color: $BonJour;
    background-color: $SugarCane;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Page {
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
}
@media screen and (min-width: 1280px) {
    .Page {
        margin: 0 auto;
        width: 1280px;

    }
}
.routerLink {
    color: $MineShaft;
    text-decoration: none;
    
    
    
}
.linkActive {
    border-bottom: 0.125rem solid $MineShaft;
}